body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 75px auto;
  padding: 0 20px;
}
h1,
h2,
h3 {
  opacity: 0.8;
  text-align: left;
  font-size: 20px;
  padding: 0;
  margin: 25px 0;
}
h1 {
  font-size: 24px;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.product {
  width: 48%;
  padding: 0 10px;
}
.cart {
  width: 48%;
  padding: 0 10px;
}
p {
  opacity: 0.8;
}
p span,
p label {
  font-weight: 600;
}
label {
  display: flex;
  align-items: center;
}
label input {
  width: 40px;
  margin-left: 10px;
}
input[type="submit"] {
  cursor: pointer;
}
